<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body id="home">
    <div class="container">
      <div class="row">
        <div class="span12" id="logo">
              <h1>vtmn6</h1>
        </div>
      </div>
      <div class="row">
        <div class="span12" id="content">
          <p>Home to various one-offs and incubator of many a random idea.<br />
          A programmer&rsquo;s digital scratchpad.</p>
          <h2>Ideas</h2>
          <ul class="ideas">
            <li>
              <a href="https://github.com/reaaz/Actor-2-Actor">Actor 2 Actor</a> &mdash; Answering the question: did these two actors ever work together?
            </li>
          </ul>
        </div>
      </div>
    </div>
    <footer class="container">
      <ul>
        <li>
          <a href="http://raybaksh.com">raybaksh.com</a>
        </li>
        /
        <li>
          <a href="http://github.com/reaaz">github</a>
        </li>
      </ul>
    </footer>
  </body>
</html>